html,
body {
    box-sizing: border-box;
    margin: 10px;
    background: bisque;
    height: 100%;
}

.container {
    border: 6px solid salmon;
    display: flex;
}

.container>div {
    padding: 10px;
    text-align: center;
    color: white;
}

.container>.home,
.logout {
    background-color: lightskyblue;
}

.container>.search,
.goback {
    background-color: brown;
}